// Import page-specific CSS files here.
@import "home";
@import "show";

.main-container{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}


// /* Smartphones (paysage) ----------- */
// @media only screen and (max-width : 543px) {
//     .main-container{
//   display: inline-block!important;
// }
// }


.my-container{
padding: 0px 0px 100px 0px;
background-color:white;
}

.left-bar{
  position:relative;
  background-color:#EFF5C3;

  box-shadow: -1px 1px 1px #ddd;

}


.left-bar-after{
  background: asset-url("FreeVectorDamaskPattern.jpg");
  opacity: 0.02;
  background-repeat:repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;

}


.left-bar-after2{
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;


    padding: 100px 40px;
  p{
    font-size:0.8em;
    opacity:1;
  }
   h3{
    color:$orange1;
  font-family: 'Bree Serif', serif;
   }
}






// MY BANNER
.my-header{
  min-height: calc(100vh - 120px);
  background-image:linear-gradient(-225deg, rgba(13,13,13,0.7) 0%, rgba(88,51,0,0.3) 50%), asset-url('photo1.jpg');
  background-position:center;
  display: flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  background-size:cover;
    margin-top:70px;

}

.banner h1 {
  color:white!important;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}



.my-container-below{
  background-color:#8C5000;
  //   display: flex;
  // display: -webkit-flex;
  // // flex-wrap: wrap;
  margin-bottom:50px;
  min-height: calc(100vh - 70px);

}
.right-bar{
  padding: 100px 40px;
  p{
    font-size:0.8em;
    color:#F4F4F4;
  }
   h3{
    color:$orange1;
  font-family: 'Bree Serif', serif;
   }
}
.my-container2{
  background-image:linear-gradient(-225deg, rgba(13,13,13,0.7) 0%, rgba(88,51,0,0.3) 50%), asset-url('photo3.jpg');
  background-position:center;
  background-size:cover;
  height:100%;
  min-height:200px;

}
.row-button{
  background-color:blue;
  display:flex;
  justify-content: space-between;;
}

// .card-icons{
//   position:absolute;
//   bottom:10px;
// }
// .dollar{
//   padding-left:5px;
// }
// .row-cards{
//   padding:15px;
// }
.container-yield{
  text-align:center;

}
